.header{
    overflow: hidden;
    background-color:rgb(140, 140, 141);
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header #company_name{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.header img{   
    border-radius: 50%;
}
.header a{
    float : left;
    padding : 12px;
    font-size : 25px;
    color: black;
    text-decoration: none;
}

.row{
    display : flex;
    justify-content: center;
}

.row img{
    width :214px;
    height:180;
}

.row p{
    margin-top: -31px;
    margin-left: 24px;
    text-transform: uppercase;
    font-weight: bolder;
}

[class*="column-"]{
    display : flex;
    flex-direction: column;
    align-items: center;
    padding : 20px 80px 5px 50px;
}

.gallery a :hover{
    border: 1px solid black;
}


@media screen and (max-width: 450px) {
    .header img{   
        border-radius: 50%;
        width: 46px;
    }
    .header #company_name{
        text-align: center;
        font-weight: bold;
        font-size: 17px;
    }
    .row{
        display : flex;
        flex-direction: column;
    }

}

@media only screen and (min-width:450px) and (max-width : 600px) {
    .row{
        display: flex;
        flex-wrap:wrap ;
    }
}

@media only screen and (min-width:600px) and (max-width : 768px) {

    .row {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    [class*="column-"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 18px;
        margin-right: auto;
        padding: 0px;
    }

}

@media only screen and (min-width : 768px) and (max-width : 960px){
    [class*="column-"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-bottom: auto;
        margin-top: 18px;
        margin-right: auto;
        padding: 0px;
    }
}
